@import 'vars';
@import 'fonts';

.header{
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    font-family: 'PTSans-Regular';
    color: #fff;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: -0.41px;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $main;
    }
    &__logo{
        font-family: "Roboto-Bold";
        font-size: 24px;
        line-height: 28px;
        color: #fff;
        margin-right: 20px; 
    }
    &__body{
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        &-nav{
            display: flex;
            align-items: center;
        }
        &-img{
            display: flex;
            display: none;
            align-items: center;
            &_search{
                margin-right: 10px;
                &.active{
                    position: relative;
                    top: 5px;
                }
            }
            &_profile{
                width: 22px;
                height: 22px;
                transition: all .5s;
            }
            &_profile.active{
                width: 0;
                height: 0;
            }
        }
        &-search{
            outline: none;
            height: 20px;
            width: 140px;
            border: none;
            border-radius: 12px;
            margin-right: 5px;
            padding: 0 5px;
        }
        &-srch{
            padding: 0 5px;
            height: 0;
            width: 0;
            border-radius: 12px;
            border: none;
            position: relative;
            top: -2px;
            transition: all .5s;
        }
        &-srch.active{
            width: 100px;
            height: 25px; 
            &:focus{
                outline: none;
            }
        }
    }
    
    &__list{
        display: flex;
        li{
            list-style: none;
            margin-right: 10px;
            &:first-child{
                display: none;
            }
        }
    }
    &__link{
        color: #fff;
    }
    &__burger{
        display: none;
    }
}